.my_message {
  position: relative;
  z-index: 2;
  border-radius: 20px;
  padding: 0 0 15px 0;
  margin-top: 6px;
  background: #3a5bbf;
  color: #e6edf3;
}

.message {
  position: relative;
  z-index: 2;
  color: #e6edf3;
  background: rgba(255,255,255,0.085);
  border-radius: 20px;
  margin-top: 6px;
  padding: 0 0 15px 0;
}

.nickname {
  padding: 9px 15px 0 15px;
  line-height: 100%;
  font-size: 16px;
  font-weight: 600;
}

