.form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #343144;
  padding: 10px 25px 10px 20px;
}

.input {
  width: 100%;
  color: #666472;
  border-radius: 25px;
  font-size: 14px;
  padding: 9px 0;
  &:focus {
    outline: none;
  }
}

.send {
  color: black;
  cursor: pointer;
  border-radius: 25px;
  flex: 1;
  height: 100%;
  @media screen and (max-width: 460px) {
    height: 40px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
