.menu {
  position: fixed;
  display: block;
  background: #343144;
  width: 200px;
  z-index: 15;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}

.btn {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid gray;
  color: white;
  padding: 7px 0 7px 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;

  &:hover {
    background: linear-gradient(90deg, #297ef7 0%, #296cf9 50%, #2758f8 100%);
  }

  &:last-child {
    border-bottom: none;
  }
}
