.delete, .send, .createModal {
  background: #333131;
  border-radius: 15px;
  padding: 20px;
  transform: translate(-50%, -50%);

  &__text {
    width: 100%;
    text-align: center;
    margin-top: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: white;
    @media screen and (max-width: 460px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__deleteButton {
    max-width: 100%;
    width: 100%;
    cursor: pointer;
    padding: 8px 40px;
    background: #9890e3;
    color: white;
    border-radius: 25px;
  }

  &__cancelButton {
    max-width: 100%;
    width: 100%;
    cursor: pointer;
    padding: 6.5px 40px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;

    &:hover {
      background: rgba(128, 128, 128, 0.8);
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.send {
  &__image {
    margin: 0 auto;
  }
}

.createModal {
  &__input {
    width: 100%;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 16px;
  }
  &__submit {
    width: 100%;
    background: linear-gradient(90deg, #9890e3 0%, #b1f4cf 100%);
  }

  &__submit {
    color: black;
    cursor: pointer;
    padding: 8px 40px;
    border-radius: 25px;
  }
}