@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-main: #221f2d;
  --text-primary: #e6edf3;
  --text-secondary: #9aa4b2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter), sans-serif;
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --bg-main: var(--bg-main);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 30px;
  color: var(--text-primary);
  background: var(--bg-main);
  font-family: var(--font-inter), sans-serif;
}
